body {
position: absolute;
font-family: Arial;
font-size: 100%;
letter-spacing: 0.1px;
padding: 0;
height: auto;
overflow: hidden;
width: auto;
left: 0;
right: 0;
top: 0;
bottom: 0;
margin: auto;
background: #fff;
}

img {
position: absolute;
width: 100%;
height: 100%;
max-width: 500px;
object-fit: contain;
left: 0;
right: 0;
margin: 0 auto;
}

name {
position: absolute;
left: 0;
right: 0;
margin: 0 auto;
box-sizing: border-box;
padding: 20px;
background: #5389c1;
width: fit-content;
text-align: center;
color: #fff;
letter-spacing: 2px;
border-radius: 0 0 10px 10px;
box-shadow: inset #3e6cab -7px -5px 10px;
}

#go {
position: absolute;
right: 10%;
bottom: 5%;
width: 60px;
height: 60px;
background: #5389c1;
border-radius: 50%;
fill: #fff;
padding: 17px;
box-sizing: border-box;
box-shadow: inset #3e6cab -7px -5px 10px;
cursor: pointer;
user-select: none;
outline: none;
border-top: 3px solid #dee4e4;
border-right: 3px solid #dee4e4;
border-bottom: 3px solid #dee4e4;
border-left: 3px solid #dee4e4;
transition: 0.35s;
}

#menu {
color: #555;
position: absolute;
left: 10%;
bottom: 5%;
width: 60px;
height: 60px;
background: #dee4e4;
text-align: center;
font-size: 300%;
border-radius: 10px;
cursor: pointer;
line-height: 60px;
user-select: none;
outline: none;
}

panel {
position: absolute;
width: 100%;
height: 100%;
background: #fff;
left: -105%;
box-shadow: #c1baba 0 0 7px;
transition: 1s;
}

#close {
position: absolute;
right: 25px;
top: 25px;
color: #555;
cursor: pointer;
user-select: none;
outline: none;
font-size: 160%;
}

.element-menu {
position: relative;
width: 100%;
height: 40px;
color: #5389c1;
fill: #3673b1;
background: #fff;
top: 80px;
box-sizing: border-box;
border-bottom: 1px solid #d8dbde;
padding-left: 25px;
cursor: pointer;
transition: 0.3s;
padding-top: 15px;
padding-bottom: 10px;
display: inline-table;
padding-right: 15px;
}

.element-menu:hover {
color: #fff;
fill: #fff;
background: #5389c1;
}

#background {
position: absolute;
background: rgba(0,0,0,0.75);
width: 100%;
height: 100%;
display: none;
opacity: 0;
transition: 0.9s;
}

#center-background {
position: absolute;
left: 0;
right: 0;
margin: auto;
top: 0;
bottom: 0;
width: fit-content;
max-width: 100%;
max-height: 100%;
height: fit-content;
background: #d9dce0;
box-sizing: border-box;
padding: 30px;
border-radius: 10px;
border-bottom: 7px solid #777;
border-left: 5px solid #999;
}

#eng-word {
position: relative;
display: block;
width: 300px;
height: 50px;
border: none;
border-bottom: 2px solid #555;
border-left: 2px solid #999;
outline: none;
box-sizing: border-box;
border-radius: 10px;
padding-left: 15px;
font-size: 100%;
font-family: Arial;
margin-bottom: 30px;
}

#text-center {
position: relative;
color: #222;
font-family: Arial;
font-size: 130%;
margin-bottom: 20px;
display: block;
}

#forgot {
position: relative;
border: none;
outline: none;
width: 180px;
height: 40px;
border-radius: 10px;
background: #5389c1;
color: #fff;
box-shadow: inset #3e6cab -7px -5px 10px;
cursor: pointer;
}

#name-games {
position: absolute;
color: #555;
top: 25px;
left: 0;
right: 0;
margin: 0 auto;
width: fit-content;
}

.svg-panel {
position: relative;
width: 26px;
height: 26px;
margin-right: 15px;
display: inline;
float: left;
top: -5px;
}

#container-ball {
position: absolute;
top: 80px;
width: 90%;
height: calc(100% - 180px);
left: 5%;
text-align: center;
}

.ball {
position: relative;
width: 55px;
height: 55px;
border-radius: 50%;
display: inline-block;
margin: 10px;
box-shadow: #677992 -5px -5px 4px inset;
cursor: pointer;
}

#panel-name-menu {
position: absolute;
color: #555;
font-size: 160%;
left: 25px;
top: 25px;
letter-spacing: 3px;
}
